---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import CookieConsent from "../components/CookieConsent.astro";
import { PORTFOLIO_TITLE, SITE_AUTHOR, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={PORTFOLIO_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h3>👋 Hello there!</h3>
			<p>
				I'm {SITE_AUTHOR}. I work on the <a
					href="https://firebase.google.com"
					target="_blank">Firebase</a
				>
				team at Google, where I help mobile app builders integrate with Firebase
				and Generative AI. I was born in Maputo 🇲🇿, and I'm currently living
				in London 🇬🇧.
			</p>
			<h4>Current Projects</h4>
			<p>
				I'm working on
				<a
					href="http://firebase.google.com/products/firebase-ai-logic"
					target="_blank">Firebase AI Logic</a
				> and
				<a
					href="http://firebase.google.com/products/phone-number-verification"
					target="_blank">Firebase Phone Number Verification</a
				>
				ensuring they can provide a great experience for anyone building
				mobile apps.
			</p>
			<h4>Blog</h4>
			<p>
				I'm writing <a href="/blog">blog posts</a> again!
			</p>
			<p>
				Before this website, I used to blog in the following platforms:
			</p>
			<ul>
				<li>
					<a href="https://medium.com/@thatfire.dev" target="_blank"
						>Medium (2016-2020)</a
					>
				</li>
				<li>
					<a href="https://dev.to/rosariopfernandes/" target="_blank"
						>dev.to (2019-2020)</a
					>
				</li>
			</ul>
			<h4>Videos</h4>
			<p>
				You can find all of my videos in <a
					href="http://www.youtube.com/@thatfiredev"
					target="_blank">my Youtube channel</a
				>.
			</p>
			<h4>Open Source</h4>
			<p>
				Some of the projects I work on are Open Source. Learn more about
				them on <a href="https://github.com/thatfiredev" target="_blank"
					>my GitHub profile</a
				> .
			</p>
		</main>
		<Footer />
		<CookieConsent />
	</body>
</html>
